.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.center {
  line-height: 10px;
  color: white;
}

.mistake {
  background-color: red;
}

.success {
  background-color: green;
}

.init {
  background-color: blue;
}
